input {
    touchpad {
        tap
        accel-speed -0.2
        accel-profile "flat"
    }

    mouse {
        accel-speed -0.4
        accel-profile "flat"
    }
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 32
}

output "eDP-1" {
    mode "1920x1080@60"
    scale 1
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 2

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.66667; }

    focus-ring {
        width 1
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
}

spawn-at-startup "noctalia-shell"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot-%Y-%m-%d %H-%M-%S.png"

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="ark"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"
workspace "8"
workspace "9"

binds {
    Super+Shift+Slash { show-hotkey-overlay; }

    Super+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Super+Space hotkey-overlay-title="Run an Application: noctalia-shell" { spawn-sh "noctalia-shell ipc call launcher toggle
"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: noctalia-shell" { spawn-sh "noctalia-shell ipc call lockScreen lock
"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "noctalia-shell ipc call volume increase
"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "noctalia-shell ipc call volume decrease"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "noctalia-shell ipc call volume muteInput"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }

    Super+O repeat=false { toggle-overview; }

    Super+C repeat=false { close-window; }

    Super+Left  { focus-column-left; }
    Super+Down  { focus-window-down; }
    Super+Up    { focus-window-up; }
    Super+Right { focus-column-right; }
    Super+H     { focus-column-left; }
    Super+J     { focus-window-down; }
    Super+K     { focus-window-up; }
    Super+L     { focus-column-right; }

    Super+Shift+Left  { move-column-left; }
    Super+Shift+Down  { move-window-down; }
    Super+Shift+Up    { move-window-up; }
    Super+Shift+Right { move-column-right; }
    Super+Shift+H     { move-column-left; }
    Super+Shift+J     { move-window-down; }
    Super+Shift+K     { move-window-up; }
    Super+Shift+L     { move-column-right; }

    Super+1 { focus-workspace "1"; }
    Super+2 { focus-workspace "2"; }
    Super+3 { focus-workspace "3"; }
    Super+q { focus-workspace "4"; }
    Super+w { focus-workspace "5"; }
    Super+e { focus-workspace "6"; }
    Super+a { focus-workspace "7"; }
    Super+s { focus-workspace "8"; }
    Super+d { focus-workspace "9"; }
    Super+Shift+1 { move-column-to-workspace "1"; }
    Super+Shift+2 { move-column-to-workspace "2"; }
    Super+Shift+3 { move-column-to-workspace "3"; }
    Super+Shift+q { move-column-to-workspace "4"; }
    Super+Shift+w { move-column-to-workspace "5"; }
    Super+Shift+e { move-column-to-workspace "6"; }
    Super+Shift+a { move-column-to-workspace "7"; }
    Super+Shift+s { move-column-to-workspace "8"; }
    Super+Shift+d { move-column-to-workspace "9"; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }

    Mod+Ctrl+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+M { maximize-window-to-edges; }

    Mod+x { center-column; }

    Mod+Alt+Left { set-column-width "-10%"; }
    Mod+Alt+Right { set-column-width "+10%"; }

    Mod+Alt+Down { set-window-height "-10%"; }
    Mod+Alt+Up { set-window-height "+10%"; }

    Mod+Backslash       { toggle-window-floating; }
    Mod+Shift+Backslash { switch-focus-between-floating-and-tiling; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}
